$navbar-height: 56px;
$top-offset: $navbar-height;

$font-size-xs: 12px;
$font-size-small: 14px;
$font-size-base: 16px;
$font-size-large: 20px;
$font-size-xl: 24px;
$font-size-xxl: 32px;
$font-size-xxxl: 48px;
$font-size-xxxxl: 64px;

$font-weight-normal: 400;
$font-weight-bold: 500;
$font-weight-extra-bold: 600;

$checkbox-size-small: 16px;
$checkbox-size: 20px;
$checkbox-large-size: 24px;

// Colors
$dark-primary: #37352F;
$dark-secondary: #9A9996;
$dark-tertiary: #DEDEDE;
$dark-quaternary: #F1F1F0;
$white: #FFFFFF;
$error-red: #D92D20;
$primary-blue: #1785ff;
$primary-blue-light: #b0d5ff;
$checkbox-border: #969696;
