$navbar-height: 56px;
$main-section-margin-top: 15px;
$top-offset: calc(#{$navbar-height} + #{$main-section-margin-top});

$base-font-size: 16px;
$large-font-weight: 500;
$large-font-size: 24px;
$small-font-size: 14px;
$xs-font-size: 12px;
$archive-color: #654321;

.archive-badge {
  background-color: $archive-color;
}

.btn-archive-color {
  background-color: $archive-color !important;
  color: white !important;
  border-color: $archive-color !important;
}
.btn-archive-color:hover {
  background-color: #7B5544 !important;
  color: white !important;
  border-color: #7B5544 !important;
}
