$navbar-height: 56px;
$top-offset: $navbar-height;

$font-size-xs: 12px;
$font-size-small: 14px;
$font-size-base: 16px;
$font-size-large: 20px;
$font-size-xl: 24px;
$font-size-xxl: 32px;
$font-size-xxxl: 48px;
$font-size-xxxxl: 64px;

$font-weight-bold: 500;

$checkbox-size: 20px;
$checkbox-large-size: 24px;

$archive-color: #654321;
$dark-primary: #37352F;
$dark-tertiary: #DEDEDE;
$white: #FFFFFF;
$error-red: #D92D20;

.archive-badge {
  background-color: $archive-color;
}

.btn-archive-color {
  background-color: $archive-color !important;
  color: white !important;
  border-color: $archive-color !important;
}
.btn-archive-color:hover {
  background-color: #7B5544 !important;
  color: white !important;
  border-color: #7B5544 !important;
}
