@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-vue/src/index.scss";
@import "variables";
@import "fonts";
@import "tags";

.width-100 {
  width: 100%;
}

.top-margin {
  margin-top: 20px;
}

.bottom-margin {
  margin-top: 20px;
}

.dropdown-menu {
  padding: 8px;
}

.navbar-nav li.nav-item:hover,li.nav-item.show {
  background-color: $dark-quaternary;
  border-radius: 8px;
}

// Custom border-radius for all light buttons
.btn-light {
  border-radius: 8px;
  border-color: transparent;
  background-color: $white;
}

.btn-light:hover {
  border-color: transparent;
  background-color: $dark-quaternary;
}

.btn-light.active {
  background-color: $white !important;
}

//noinspection CssInvalidPropertyValue
.draggable-item {
  cursor: -webkit-grab !important;
  cursor: -moz-grab !important;
  cursor: grab !important;
}

//noinspection CssInvalidPropertyValue
.draggable-item:active {
  cursor: -webkit-grabbing !important;
  cursor: -moz-grabbing !important;
  cursor: grabbing !important;
}

.draggable-ghost {
  opacity: 0.5;
}

.flex-1 {
  flex: 1;
}

table {
  td {
    border-top: none !important;
  }
}

// Modal height override
.modal-content {
  height: 80vh;
  max-height: 80vh;
}
