.tag {
  // margin-right: 8px;
  // margin-top: 8px;
  
  > .btn {
    border-radius: 24px;
    border: 1px solid transparent !important;
    color: white;
    font-size: variables.$font-size-xs !important;
    padding: 0.375rem .75rem;
  }
  
  > .btn:hover {
    color: lightgrey;
  }
  
  .tag-name {
    word-break: break-word;
  }
}

.tag-close {
  @include font-size($close-font-size);
  font-weight: $close-font-weight;
  line-height: 1;
}
